.contacts
  padding: 80px 0 100px
  color: #0c0c0c
  &__title
    margin-bottom: 50px
  &__item
    font-style: normal
    font-weight: normal
    font-size: 36px
    line-height: 43px
    margin-bottom: 20px
  &__subtitle
    font-weight: bold
    font-size: 36px
    line-height: 43px
    margin-bottom: 20px
  &__social
    &-link
      display: inline-block
      width: 75px
      height: 75px
      &:not(:last-child)
        margin-right: 45px
  &__map-image
    width: 100%
