.header
  padding: 20px 0
  background-color: $red
  &__logo
    font-weight: bold
    font-size: 40px
    line-height: 53px
.navbar
  &__item
    padding: 10px 0
    border-bottom: 2px solid #fff
    &:not(:last-child)
      margin-right: 35px
  &__link
    font-weight: 500
    font-size: 24px
    line-height: 28px
