*
  box-sizing: border-box
body
  position: relative
  font-family: 'Rubik', sans-serif
  color: #f8f8f8
  margin: 0
.logo
  font-family: 'Roboto Slab', serif
h1,h2,h3,h4,h5,h6,p
  margin: 0
ul
  margin: 0
  padding: 0

li
  list-style-type: none
a
  text-decoration: none
  color: inherit
.button
  font-style: normal
  font-weight: bold
  font-size: 18px
  line-height: 21px
  color: #fff
  padding: 15px 30px
  border: 2px solid #F94545
  border-radius: 30px
  background-color: #F94545
  display: inline-block
  transition: background-color 0.5s

.title
  font-weight: bold
  font-size: 50px
  line-height: 59px
